.page {
  background: #a9acb4;
  font-family: "Inter", sans-serif;
  background: url(/mainbg.jpg);
  background-attachment: fixed;
  padding: 30px;
  position: relative;
}

.page::after {
  content: "";
  inline-size: 100%;
  min-block-size: 100vb;
  inset: 0;
  background-color: #2c2929;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: 80%;
  justify-self: center;
  background: transparent;
  border-radius: 15px;
  padding: 30px;
  opacity: 0.9;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.app-title {
  padding: 20px 50px;
  text-align: center;
  font-weight: 700;
  font-size: 52px;
  color: #292d32;
}

.app-description__list {
  max-inline-size: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-description__list-item {
  list-style: none;
  position: relative;
}

.app-description__list-item::before {
  content: "";
  inline-size: 6px;
  block-size: 6px;
  background: #8d1533;
  position: absolute;
  top: 5px;
  left: -15px;
  border-radius: 50%;
}
